<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
{% block head %}
{% endblock head %}
        <!-- Atova -->
        <!--
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        -->
        <script src="/static/js/htmx/htmx.min.js"></script>
        <script src="/static/js/htmx/ext/json-enc.js"></script>
        <meta property="og:image" content="/static/logo.svg">
        <link rel="icon" href="/static/logo.svg">  
    </head>
<body>
    <!-- HEADER -->
    <!-- Top bar -->
    <div class="container-fluid topbar bg-secondary d-none d-xl-block w-100">
        <div class="container">
            <div class="row gx-0 align-items-center" style="height: 60px;">
                <div class="col-lg-10 text-center text-lg-start mb-lg-0">
                    <div class="d-flex flex-wrap">
                        <a href="tel:+01234567890" class="text-muted me-4"><img src="/static/img/Vector_phone.png" alt=""> +261 32 07 037 40<br> +261 20 22 037 40</a>
                        <a href="mailto:nfo@cpl-mg.com" class="text-muted me-4"><img src="/static/img/Vector_mail.png" alt="">info@cpl-mg.com <br> commercial@cpl-mg.com</a>
                        <a href="#" class="text-muted me-4"><img src="/static/img/Vector_clock.png" alt="">Ouverture MTC <br> de 8:00 à 17:00</a>
                        <a href="#" class="text-muted me-0"><img src="/static/img/Vector_lieu.png" alt="">MTC Lot IVL 240 DA Anosivavaka, <br> Antananarivo 101</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar end -->
    <!-- Navbar start -->
    <div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0" style="top: -100px;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/" class="navbar-brand p-0">
                    <img src="/static/img/logo_mtc.png" alt="Logo"> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="/" class="nav-item nav-link active">MTC</a>
                        <a href="/#contact-info" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="col-lg-2 text-center text-lg-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <button class="login" hx-get="/login" hx-target="#login_form">Login</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<div id="login_form"></div>
<!-- =========================================== CONTENT -->

<div class="container-fluid py-5">
{% block content %}

{% endblock content %}
</div><!-- container-fluid -->

<!-- --======================================== CONTENT -->
            <!-- FOOTER MTC Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-contact">
                                        <p href="#" class="navbar-brand p-0">
                                            <img src="/static/img/footer-LOGO MTC.png" alt="Logo"> 
                                        </p>
                                        <p class="text-muted me-0"> <img src="/static/img/Vector_lieu.png" alt=""> MTC Lot IVL 240 DA Anosivavaka, Antananarivo 101 </p>
                                        <p href="tel:+01234567890" class="text-muted me-4"><img src="/static/img/Vector_phone.png" alt=""> +261 32 07 037 40 /  +261 20 22 037 40</p>
                                        <p href="mailto:nfo@cpl-mg.com" class="text-muted me-4"><img src="/static/img/Vector_mail.png" alt="">info@cpl-mg.com / commercial@cpl-mg.com</p>
                                        <div class="footer-social">
                                            <a href="#"><img src="/static/img/Facebook.svg" alt="Facebook"></a>
                                            <a href="#"><img src="/static/img/Instagram.svg" alt="Instagram"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Liens Utiles</h2>
                                        <a href="">Conditions d'utilisation</a>
                                        <a href="">Politique de confidentialité</a>
                                        <a href="">Cookies</a>
                                        <a href="">Aide</a>
                                        <a href="">Questions fréquemment posées</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="footer-newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Votre Email">
                                    <button class="btn-form">envoyez</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <!-- Copyright Start -->
              <div class="container-fluid copyright py-4">
                <div class="container">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6 text-center text-md-start mb-md-0">
                            <span class="text-body"><a href="#" class=""><i class="fas fa-copyright text-light me-2"></i>MTC</a>, All right reserved.</span>
                        </div>
                        <div class="col-md-6 text-center text-md-end text-body">
                            Designed By <a class="" href="#">
                                <img src="/static/img/Logo_atovaSA.svg"  width="100" height="50" alt="Logo"> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright End -->    
            <!-- Back to Top -->
            <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><b>&xwedge;</b></a>   
    
            
        <!-- JavaScript Libraries -->
        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script-->
        <script src="/static/js/jquery.3.6.4.min.js"></script>
        <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script-->
        <script src="/static/js/bootstrap.bundle.5.0.0.min.js"></script>
        <script src="/static/lib/wow/wow.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/lib/counterup/counterup.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        
    
        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
        <script src="/static/js/custom.js"></script>
{% block js %}
{% endblock js %}
</body>
</html>
