{% extends "front_base.html" %}
{% block title %}MTC - pièces détachés pour camion{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
     <!-- About Start -->
<div class="flex flex-row content-center">
  <div class="basis-[45%]">                
    <h1 class="uppercase text-center bottom-5 text-4xl font-bold">Bienvenue sur  
    <span class="text-red-600">MTC: Machinery truck center </span>
    </h1>
    <p class="text-gray-500 text-xl p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                         Nunc odio in et, lectus sit lorem id integer.
    </p>
    <h4 class="uppercase bg-red-500 text-white text-xl p-4">6/6 Support Téléphonique</h4>
  </div><!-- basis-64  -->
  <div class="grow p-4">
  <!-- img class="truck-left h-auto ms-auto" src="/static/img/MTC-charte-Lst2.png" alt=""-->
<!-- SEARCH start -->
<div class="bg-[#1f2e4e] rounded content-center p-5 w-md">
    <h4 class="text-white mb-4">Rechercher vos pièces détachées</h4>
    <form action="/search">
      <input class="bg-white text-gray-700 rounded mx-[25%]" type="search" name="terms" id="search_terms" placeholder=" Choisir terme" />
            <div class="row g-3">
                <div class="col-12">
                    <select name="category" class="form-select bg-white text-gray-700 w-sm rounded" aria-label="Default select example">
                        <option selected="designation"> Sélectionnez la categorie</option>

                        <option value="code">Code</option>
                        <option value="designation">Désignation</option>
                        <option value="letype">Type</option>
                        <option value="marque">Marque</option>
                        <option value="famille">Famille</option>
                        <option value="depot">Depot</option>
                        <option value="centre">Centre</option>
                        <option value="reference">Référence</option>
                        <option value="oem">OEM</option>
                        <option value="marque_oem">Marque_oem</option>
                    </select>
                  </div>
            <div class="w-lg">
                <button class="bg-red-600 text-white w-sm py-2 rounded" type="submit" value="recherchez">Recherchez</button>
            </div>
        </div>
    </form>
</div><!-- SEARCH End -->

  </div>
</div>
    <!-- About End -->



     <!-- Services Start -->
            <h1 class="text-xl uppercase text-white content-center mb-5">Nos catégories</h1>
<div class="grid grid-cols-1 gap-x-5 gap-y-5 sm:grid-cols-2 lg:grid-cols-3">
  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/truck_carrenage-removebg-preview.png" alt="carrenage" />
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Carrénage</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/Vector_filter.png" width="100" height="90" alt="Filtration">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Filtration</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/car-engine.png" alt="Moteur">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Moteur</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/break.png" alt="Freinage" />
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Freinage</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/1.png" alt="Eléctricité">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Eléctricité</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/Vector_axle.png" alt="Pont">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Pont</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/Vector_outillage.png" alt="Outillage" />
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Outillage</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/liquide-de-refroidissement-moteur.png" alt="liquide">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Liquide</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/Vector_speed.png" alt="Boite de vitesse">
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Boîte de vitesse</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="group block">
    <div class="border-gray-3 group-hover:drop-shadow-1 rounded-[20px] border bg-gray-100 p-5 transition-all group-hover:-translate-y-2 group-hover:bg-white">
      <div class="flex flex-wrap items-center gap-8">
        <div class="h-20 w-20 overflow-hidden rounded-full">
          <img src="/static/img/5.png" alt="Pneumatique"> 
        </div>
        <div>
          <h3 class="text-custom-xl text-dark mb-1 font-semibold">Pneumatique</h3>
          <p class="">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, 
                      justo elitr dolor amet sit sea sed</p>
        </div>
      </div>
    </div>
  </a>

</div>

    <!-- Services End -->
    <!-- debut section resultat de recherche --> 
      <!-- Vendor Start -->
{#
<style>
.marquee__content {
  animation: scroll 45s linear infinite;
}

/*
.marquee__content ul {
  border: 1px solid blue;
}

.marquee__content > li {
  border: 1px solid gold;
}
*/
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
</style>


<div class="flex overflow-hidden select-none gap-4 pt-4">
  <ul class="marquee__content flex shrink-0 justify-around max-w-6xl gap-4">
    <li><img class="w-7xl" src="/static/img/logo_scania.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-xcmg.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-deutz.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-Liebherr.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-jac.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-sem.jpg" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Caterpillar-Logo-PNG4.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-cumming.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/foton.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Lovol-Logo.jpg" alt=""></li>
    <li><img class="w-7xl" src="/static/img/sany-logo.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/shacman-logo.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/KOMATSU.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/HITACHI.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Caterpillar-Logo.png" alt=""></li>
  </ul>
  <!-- Mirrors the content above -->
  <ul class="marquee__content flex shrink-0 justify-around max-w-6xl gap-4" aria-hidden="true">
    <li><img class="w-7xl" src="/static/img/logo_scania.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-xcmg.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-deutz.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-Liebherr.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-jac.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-sem.jpg" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Caterpillar-Logo-PNG4.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/logo-cumming.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/foton.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Lovol-Logo.jpg" alt=""></li>
    <li><img class="w-7xl" src="/static/img/sany-logo.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/shacman-logo.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/KOMATSU.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/HITACHI.png" alt=""></li>
    <li><img class="w-7xl" src="/static/img/Caterpillar-Logo.png" alt=""></li>
  </ul>
</div>
#}
    <!-- Vendor End -->
            <!-- contact section -->
<div class="container-fluid pt-10 py-5">
    <div class="container-fluid contact_section"  id="contact-info">
      <div class="row">
        <div class="contact-info">
        
            <div class="contact-info">
                <h1 class="uppercase text-center bottom-5 text-4xl font-bold text-[#1f2e4e]">Informations de contact rapides</h1>
                <div class="groupe-info-item">
                    <div class="contact-info-item">
                        <div class="contact-info-text">
                            <h3 class="text-xl font-bold text-[#1f2e4e]">Ouverture du magasin</h3>
                            <p>Lundi à  Vendredi, 8:00 - 17:00</p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-text">
                            <h3 class="text-xl font-bold text-[#1f2e4e]">Téléphonez-nous</h3>
                            <p>+261 32 07 037 40 / +261 20 22 037 40</p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-text">
                            <h3 class="text-xl font-bold text-[#1f2e4e]">Email</h3>
                            <p>info@cpl-mg.com / commercial@cpl-mg.com</p>
                        </div>
                    </div>
                </div>
            </div>
<!--      
          <div class="section-header text-center">
            <h1 class="display-4 text-uppercase text-center mb-5">Contactez-nous pour toutes vos commandes</h1>
        </div>
-->
        </div>
        <div class="px-2">
          <div class="map_container">
            <div class="map">
              <div id="mtc_map"><img src="/static/img/MAP-MTC-anosivavaka.jpg"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="flex-1">
<form>
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
<h3 class="uppercase text-center pt-5 text-xl font-bold text-[#1f2e4e]">Vous avez des questions?</h3>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="firstname" class="block text-sm/6 font-medium text-gray-900">Prénom</label>
          <div class="mt-2">
            <input type="text" name="firstname" id="first-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="lastname" class="block text-sm/6 font-medium text-gray-900">Nom</label>
          <div class="mt-2">
            <input type="text" name="lastname" id="last-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-full">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <input type="email" name="email" id="email" 
                   class="block w-full rounded-md bg-white px-3 py-1.5 
                   text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 
                   focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="col-span-full">
          <label for="about" class="block text-sm/6 font-medium text-gray-900">Message</label>
          <div class="mt-2">
            <textarea name="about" id="about" placeholder="Votre Message ici" rows="3"  
                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 
                             outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 
                             focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 
                             sm:text-sm/6">
            </textarea>
          </div>
          <p class="mt-3 text-sm/6 text-gray-600">Comment pouvons-nous vous aider?</p>
        </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm/6 font-semibold text-gray-900">Cancel</button>
    <button type="submit" 
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 
                   focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <span class="en hidden">Send</span><span class="mg hidden">Alefa</span><span class="fr">Envoyer</span>
    </button>
  </div>
</form>
<!-- map was here -->
      </div>
    </div>
    </div>
  </div>
  <!-- end contact section -->
{% endblock content %}


{% block js %}
{% endblock js %}
