{% extends "front_base.html" %}
{% block title %}MTC - mtc{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3 search-result">

                                                <h2>Page produits </h2>   
                                                    
                                    <!-- /. ROW  -->
                                    <hr />
                                    <div class="row">
                                            {% if info.page > 1 %}
                                            <a href="/list?page={{ info.page - 1 }}&page_size=5">prev page</a> &nbsp;| &nbsp;
                                            {% endif %}
                                            <a href="/list?page={% if info.page < info.total_pages %}{{ info.page + 1 }}{% else %}{{ 1 }}{% endif %}&page_size=5">next page</a>
                                            <p>
                                                page: <em>{{ info.page }}</em> / {{ info.total_pages }}
                                                <!-- page_size: {{ info.page_size }} -->
                                            </p>
                                    </div>
                                    <div class="row">
                                        <h1>famille_mtc</h1>
                                        <div class="mb-10">
                                    {% for item in data %}
                                    <div class="mb-5">
                                            <div>
                                                <label><b>{{"code" | capitalize }}:</b> {{item.code}}</label>
                                                </div>
                                            <div>
                                                <label><b>{{"designation" | capitalize }}:</b> {{item.designation}}</label>
                                                </div>
                                            <div>
                                                <label><!--b>{{"pix" | capitalize }}:</b--><img alt="{{item.pix}}" width="200px" src={{item.pix}}></label>
                                                </div>
                                            <div>{% set type = letypes | nth(n=item.letype_id - 1) %}
                                                <label><b>{{"type" | capitalize }}:</b> {{ type.letype }}</label>
                                                </div>
                                            <div>{% set marque = marques | nth(n=item.marque_id - 1) %}
                                                <label><b>{{"marque" | capitalize }}:</b> {{ marque.marque }}</label>
                                                </div>
                                            <div>
                                                <label><b>{{"prix_ttc" | capitalize }}:</b> {{item.prix_ttc}}</label>
                                                </div>
                                            <div>{% set famille = familles | nth(n=item.famille_id - 1) %}
                                                <label><b>{{"famille" | capitalize }}:</b> {{ famille.famille }}</label>
                                                </div>
                                            <div>{% set depot = depots | nth(n=item.depot_id - 1) %}
                                                <label><b>{{"depot" | capitalize }}:</b> {{ depot.depot }}</label>
                                                </div>  
                                            <div>{% set centre = centres | nth(n=item.centre_id - 1) %}
                                                <label><b>{{"centre" | capitalize }}:</b> {{ centre.centre }}</label>
                                                </div> 
                                            <div>
                                                <label><b>{{"reference" | capitalize }}:</b> {{item.reference}}</label>
                                                </div>
                                            <div>
                                                <label><b>{{"oem" | capitalize }}:</b> {{item.oem}}</label>
                                                </div>
                                            <div>{% set marque_oem = marque_oems | nth(n=item.marque_oem_id - 1) %}
                                                <label><b>{{"marque_oem" | capitalize }}:</b> {{ marque_oem.marque_oem }}</label>
                                                </div>
                                            <div>
                                                <label><b>{{"keywords" | capitalize }}:</b> {{item.keywords}}</label>
                                                </div>
                                            <!--a href="/admin/famille_mtcs/{{ item.id }}/edit">Edit</a-->
                                            <a href="/list/{{ item.id }}">Détails</a>
                                        </div>
                                    {% endfor %} 
                                    <br />
                                    <!--a href="/admin/famille_mtcs/new">New famille_mtc</a-->
                                    </div>
                                    <div class="row">
                                            {% if info.page > 1 %}
                                            <a href="/list?page={{ info.page - 1 }}&page_size=5">prev page</a> &nbsp;| &nbsp;
                                            {% endif %}
                                            <a href="/list?page={% if info.page < info.total_pages %}{{ info.page + 1 }}{% else %}{{ 1 }}{% endif %}&page_size=5">next page</a>
                                            <p>
                                                page: <em>{{ info.page }}</em> / {{ info.total_pages }}
                                                <!-- page_size: {{ info.page_size }} -->
                                            </p>
                                    </div>
                                    <!-- /. ROW  -->           
                                </div>
                                <!-- /. PAGE INNER  -->
                            </div>
                            <!-- /. PAGE WRAPPER  -->
                        </div>

{% endblock content %}
