{% extends "admin_base.html" %}

{% block title %}
List type
{% endblock title %}
{% block sidenav %}{{ super() }}{% endblock sidenav %}
{% block content %}
<h1>type</h1>
<div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"type" | capitalize }}:</b> {{item.letype}}</label>
                </div>
            <a href="/letypes/{{ item.id }}/edit">Edit</a>
            <a href="/letypes/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/letypes/new">New type</a>
</div>
{% endblock content %}
